body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}
