<!DOCTYPE html>
<html>
<head>
    <title>Editar Usuario</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Editar Usuario</h1>
    <form action="/edit/<%= user.id %>" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="<%= user.name %>" required>
        <br>
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" value="<%= user.email %>" required>
        <br>
        <button type="submit">Guardar Cambios</button>
    </form>
    <a href="/">Volver</a>
</body>
</html>
