<!DOCTYPE html>
<html>
<head>
    <title>CRUD App</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Usuarios</h1>
    <ul>
        <% for (let i = 0; i < users.length; i++) { %>
            <li>
                <%= users[i].name %> - <%= users[i].email %>
                <a href="/edit/<%= i %>">Editar</a>
                <a href="/delete/<%= i %>">Eliminar</a>
            </li>
        <% } %>
    </ul>
    <a href="/add">Agregar Usuario</a>
</body>
</html>
